* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img{
  display: flex;
  flex-direction: column;
 
}
.img1 img{
  height: 80px;
  width: 60px;
  
 }

 .img2 img{
  height: 50px;
  width: 60px;
 }